
body {
    background: green;
    margin-top: 100px;
    text-align: center;
}

body > p {
    color: white;
    font-size: 50px;
    font-family: "Adobe 黑体 Std R", serif;
}

video {
    height: 500px;
    margin: 20px;
}

div.diary {
    text-align: left;
    color: #458B00;
    padding: 10px 200px;
}

.diary time {

}

.diary .hide {
    opacity: 0;
}

.diary img {
    width: 100px;
    height: auto;
    float: right;
    display: block;
}
